<!DOCTYPE html>
<html lang="pt-br">

{% include "recipes/partials/head.html" %}

<body>
    <header>
        <div class="container">
            <div>
                <a href="/">
                    <h1>Recipes</h1>
                </a>
            </div>
        </div>
    </header>
    <h1>Hello Word!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dolore optio voluptatem quis quas,
        recusandae voluptatum dignissimos impedit dolorum iure magni vitae, culpa ad. Corporis aperiam laborum enim
        officiis debitis?</p>
</body>

</html>